.App {
  text-align: center;
  height:100%;
  position: relative;
}

.sidebar{
  position: fixed;
  height:100%;
  width: fit-content;
  background-color: #0a1436;
  padding-left: 10px;
  padding-right: 10px;
}

.form-outline{
  position: relative;
}
 .searchbar{
  border:1px solid white;
  border-radius: 15px;
  margin: 10px;
  height:30px;
}
.bi.bi-search{
  position: absolute;
  top:18px;
  right:20px;
}

.btn_class{
  background-color: #0a1436;
  color:gray;
  width:200px;
  text-align: start;
  border:0px;
  font-size: 16px;
  font-weight: 400;
  
  
}
.btn_class:hover{
  background-color:#22A565;
  color:white;
}

.dropdown-toggle:nth-child(1)::after{
  display: none;
}

.bi.bi-chevron-down{
  background-color: inherit;
}

.top_div{
  width:100%;
  background-color: white;
  text-align: start;
  padding-left: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.container_div{
  width:82.1%;
  background-color: #F8FAFB;
  margin-left: 229px;
  height: 92vh;
  padding-left: 20px;
  padding-top: 15px;

}

.main_trigger{
  background-color: #22A565;
  color:white;
  border: 1px white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  
}
.mr
{
  margin-right: 10px;
}
.smaller_container{
  height:455px;
  border-top-left-radius: 20px;
  margin-top: 10px;
  padding:10px;
  background-color: white;
}
.smaller_container_btns{
  background-color: #E7E9EF;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: "30px";
  margin-left: 5px;
  height: 38px;
  margin-top: 2.5px;
  border: 0px;
}
.random_line{
  background-color: gray;
  border-radius: 5px;
  height: 35px;
  width:2px;
  margin-top: 5px;
  display: none;
}
.unselect{
  text-decoration: underline;
  color: #0a1436;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 5px;
}
.bi.bi-plus{
  background-color:inherit;
}

.random_div{
  background-color: white;
}

.validation_message{
  color: violet;
  font-size: 10px;
  font-style: italic;
  text-align: start;
  padding-left: 30px;
  margin-top: -5px;
}