.App {
  text-align: center;
  height:100vh;
  position: relative;
}

.sidebar{
  position: fixed;
  height: 100%;
  width: fit-content;
  background-color: #0a1436;
  
}
.form-outline{
  position: relative;
}
.searchbar{
  border:1px solid white;
  border-radius: 15px;
  margin: 10px;
  height:30px;
}
.bi.bi-search{
  position: absolute;
  top:18px;
  right:20px;
}


