.App {
  text-align: center;
  height:100%;
  position: relative;
}

.sidebar{
  position: absolute;
  height:100vh;
  width: fit-content;
  background-color: #0a1436;
  padding-left: 10px;
  padding-right: 10px;
  
}
.form-outline{
  position: relative;
}
 .searchbar{
  border:1px solid white;
  border-radius: 15px;
  margin: 10px;
  height:30px;
}
.bi.bi-search{
  position: absolute;
  top:18px;
  right:20px;
}

.btn_class{
  background-color: #0a1436;
  color:gray;
  width:200px;
  text-align: start;
  border:0px;
  font-size: 16px;
  font-weight: 400;
  
  
}
.btn_class:hover{
  background-color:#22A565;
  color:white;
}

.dropdown-toggle:nth-child(1)::after{
  display: none;
}

.bi.bi-chevron-down{
  background-color: inherit;
}

.top_div{
  width:100%;
  background-color: white;
  text-align: start;
  padding-left: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.container_div{
  width:82%;
  background-color: #F8FAFB;
  margin-left: 229px;
  height: 92vh;
  padding-left: 20px;
  padding-top: 25px;

}

.main_trigger{
  background-color: #22A565;
  color:white;
  border: 1px white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  
}
.mr
{
  margin-right: 10px;
}

.bi.bi-plus{
  background-color:inherit;
}

.random_div{
  background-color: white;
}